html {
  scroll-behavior: smooth;
}
.keep-blanks {
    white-space: pre-wrap;
}

.dog-card-image {
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

#navLogo{
    height: 100px!important;
}
#navLogoMov{
    height: 80px!important;
}

.valid{
    color:#44E444;
}

.invalid{
    color:#FF0000;
}

#imagen-tarjeta {
    border-radius: 5px 5px 0px 0px !important;
}

#footer {
    z-index: 999;
}

.dis-none{
    display: none;
}
#navbar_toggle{
    position: absolute;
    right: 1em;
    top: 2em;
}

.uk-navbar-nav>li>a {
    color: black !important;
}

.uk-navbar-nav>li>a:hover {
    color: #1e87f0 !important;
}

#boton-donacion:hover {
    filter: brightness(0.95) !important;
}
