html {
  scroll-behavior: smooth;
}

.dog-card-image {
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

#navLogo{
  height: 100px!important;
}

.valid{
    color:#44E444;
}

.invalid{
    color:#FF0000;
}

#imagen-tarjeta {
    border-radius: 5px 5px 0px 0px !important;
}

#footer {
    z-index: 999;
}

.dis-none{
    display: none;
}
#navbar_toggle{
    position: absolute;
    right: 1em;
    top: 2em;
}


@media screen and (max-width:768px){
    .uk-navbar-right{
        display: block;
        width: 100%;
    }
    .uk-navbar-item{ display: inline; }

    .uk-navbar-nav{ display:block;}
    .navbar-collapse{ width:100%; }
    .uk-navbar-nav li{
        background-color: #f8f8f8;
        display: block;
        padding: 10px;
        height: 40px;
        border-bottom: 1px solid #ddd;
    }
    .uk-navbar-nav li a{
        display: block;
        width: 80%;
        padding: 0.5rem 1rem;
    }
}
